<%= form_with(model: info_card) do |form| %>
  <% if info_card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(info_card.errors.count, "error") %> prohibited this info_card from being saved:</h2>

      <ul>
        <% info_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :info_card_title, style: "display: block" %>
    <%= form.text_field :info_card_title %>
  </div>

  <div>
    <%= form.label :info_card_description, style: "display: block" %>
    <%= form.text_area :info_card_description %>
  </div>

  <div>
    <%= form.label :info_card_image_url, style: "display: block" %>
    <%= form.text_field :info_card_image_url %>
  </div>

  <div>
    <%= form.label :info_card_type, style: "display: block" %>
    <%= form.text_field :info_card_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
