<div id="<%= dom_id info_card %>">
  <p>
    <strong>Info card title:</strong>
    <%= info_card.info_card_title %>
  </p>

  <p>
    <strong>Info card description:</strong>
    <%= info_card.info_card_description %>
  </p>

  <p>
    <strong>Info card image url:</strong>
    <%= info_card.info_card_image_url %>
  </p>

  <p>
    <strong>Info card type:</strong>
    <%= info_card.info_card_type %>
  </p>

</div>
