<div id="<%= dom_id article %>">
  <p>
    <strong>Article title:</strong>
    <%= article.article_title %>
  </p>

  <p>
    <strong>Article body:</strong>
    <%= article.article_body %>
  </p>

  <p>
    <strong>Article description:</strong>
    <%= article.article_description %>
  </p>

  <p>
    <strong>Article image url:</strong>
    <%= article.article_image_url %>
  </p>

</div>
