<h1>Welcome to App</h1>
<h3></h3>


<div id="portfolio">
<h3></h3>
  <% @projects.each do |project| %>
    <ul>
      <li>
          <%= project.project_title %>
      </li>
      <li>
          <%#= image_tag("#{project.project_image_url}") %>
      </li>
      <li>
          <%= project.project_description %>
      </li>
    </ul>
  <% end %>
</div>

<div id="about">
  <% @info_cards.each do |info_card| %>
    <ul>
      <li>
        <%= info_card.info_card_title %>
      </li>
      <li>
        <%#= image_tag("#{info_card.info_card_image_url}") %>
      </li>
      <li>
      <%= info_card.info_card_description %>
      </li>
    </ul>
  <% end %>
</div>

<div>
  <% if user_signed_in? %>
    <%#= link_to "Profile", edit_user_registration_path %>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
    <%# else %>
    <%#= link_to "Login", new_user_session_path %>
  <% end %>
</div>

<div id="blog">
  <h1>Articles</h1>
  <% @articles.reverse.each do |article| %>
    <ul>
      <li><%= article.article_title %></li>
      <li><%#= image_tag("#{article.article_image_url}") %></li>
      <li><%= article.article_description %><%= link_to "...Keep Reading", article %></li>
    </ul>
  <% end %>
</div>