<h1>Welcome to GETAWD</h1>

<div id="portfolio">
  <% @projects.each do |project| %>

    <%= project.project_title %>
    <%= image_tag("#{project.project_image_url}") %>
    <%= project.project_description %>
  <% end %>
</div>

<div id="about">
  <% @info_cards.each do |info_card| %>

    <%= info_card.info_card_title %>
    <%= image_tag("#{info_card.info_card_image_url}") %>
    <%= info_card.info_card_description %>
  <% end %>
</div>