<div id="<%= dom_id project %>">
  <p>
    <strong>Project title:</strong>
    <%= project.project_title %>
  </p>

  <p>
    <strong>Project url:</strong>
    <%= project.project_url %>
  </p>

  <p>
    <strong>Project description:</strong>
    <%= project.project_description %>
  </p>

  <p>
    <strong>Project image url:</strong>
    <%= project.project_image_url %>
  </p>

</div>
